A database is a structured collection of data that is organized for easy retrieval and management. 
SQL (structured query language) and NOSQL are two types of databases management systems. SQL databases, like MySQL and postgreSQL, are relational and use a structured schema, while NoSQL databases, like mongodb and cassandra are non-relational and offer more flexibility in handling diverse data types.

DDL stands for data definition language, which is a subset of SQL used to define and manage database structures.

* CREATE: Used to create database objects like tables. example: CREATE TABLE STUDENTS (ID INT, Name VARCHAR(50));
* DROP: used to delete databases objects like tables. example: DROP TABLE Students;
* ALTER: used to modify the structure of a databases objetc. example: ALTER TABLE Students ADD COLUMN age INT;
* TRUNCATE: used to remove all records from a table but retains the table structure. example: TRUNCATE TABLE Students;

DML,or data manipulation language, is a subset of SQL used to manage data within the database. 

* INSERT: adds new records to a table. example: INSERT INTO Students (id, name, age) VALUES (1, 'Chirau', 20);
* UPDATE: modifies existing records in a table. example: UPDATE students SET age = 21 WHERE Name = 'chirau';
* DELETE: removes records from a table. example: DELETE from students WHERE Name = 'chirau';

These statements allow you to interact with the data stored in the databases, adding, modifying, or removing information as needed.

DQL, or data query language, is a subset of SQL used for querying and retrieving data from the databases. 

* SELECT: retrieves data from one or more tables. example: SELECT Name, age FROM Students WHERE age>20;

This statement allow you to specify the columns you want to retrieve and apply conditions to filter the data. the result is a set of rows that meet the specified criteria.

A primary key is a column or a set of columns in a databases table that uniquely identifies each record in that table. it must contin unique values, and no two rows can have the same primary key value.   
it is used to ensure data integrity and establish relationship between taables. 



A foreign key, on the other hand, is a column or a set of columns in a table that refers to the primary key in another table. 
it establishes a link between the two tables, enforcing referential integrity.

In a standard SQL query, the order of execution follows these main clauses:

1. FROM: SPECIFIES THE TABLE OR TABLES FROM WHICH TO RETRIEVE THE DATA.
2. WHERE: FILTERS THE ROWS BASED ON SPECIFIED CONDITIONS.
3. GROUP BY: GROUP ROWS THAT HAVE THE SAME VALUE INTO SUMMARY ROWS. 
4. HAVING: FILTERS GROUPS BASED ON SPECIFIED CONDITIONS. 
5. SELECT: SPECIFIES THE COLUMNS TO RETRIEVE.
6. DISTINCT: FILTERS DUPLICATE ROWS FROM THE RESULT SET.
7. ORDER BY: SORTS THE RESULT SET BY SPECIFIED COLUMNS.
8. LIMIT/OFFSET: SPECIFIES THE NUMBER OF ROWS TO RETURN AND THE STARTING ROW NUMBER.

Its important to note that not all queries include every clause, and some clauses may appear multiple times. additionally, some execution order based on the specific query and indexes avai